.navbar-dark .navbar-nav .nav-link {
  color: #CFCFCF;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}
.navbar-dark {
  background-color: #282828;
}
.nullpadding {
  padding-right: 0;
  padding-left: 0;
}
.jumbotron {
  background-color: #474747;
}
.jumbotron .slim {
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
  border-radius: 0;
}
.no-gutter > [class*='col'] {
  padding-right: 0;
  padding-left: 0;
}
.img-fluid {
  width: 120%;
  height: 120%;
  max-height: 100%;
  border: black;
  border-style: solid;
  border-width: 1px;
}
.row {
  padding-bottom: 10px;
}
html {
  height: 100%;
}
body {
  background-color: #474747;
  height: 100%;
  position: relative;
}
