.navbar-dark .navbar-nav .nav-link {
  color: #CFCFCF;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: white;
}
.navbar-dark {
  background-color: #282828;
  padding-right: .5vh;
  padding-left: .5vh;
}
.jumbotron {
  background-color: #474747;
  margin-bottom: 0;
  padding: 2rem;
  padding-bottom: 0;
}
.row {
  padding-bottom: .5vh;
}
.col-lg-3 {
  background-color: #FFFFFF;
  padding-top: 1vh;
  padding-right: 2vh;
  padding-left: 2vh;
  border-radius: 15px;
}
.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}
.footer {
  margin-top: auto;
}
html {
  height: 100vh;
}
body {
  background-color: #474747;
  height: 100vh;
  position: relative;
}
