{% extends 'base.html' %}

{% block head %}
<script type='text/javascript' src='{{ url_for('static', filename='js/home_page.js') }}'></script>
<title>Home - Under Budget</title>
{% endblock %}

{% block default_content %}
<div class='container-top'>
  <form class='form-group' method='POST'>
    {{ savingsForm.hidden_tag() }}
    <div class='row align-items-center justify-content-center'>
      <div class='col'>
        <div class='row'>
          <div class='col'>
            <div class='row'>
              <div class='text-center display'>Annual Salary</div>
            </div>
            <div class='row'>
              <div class='input-group mb-3'>
                <div class='input-group-prepend'>
                  <span class='input-group-text'>$</span>
                </div>
                {{ savingsForm.salary(class='form-control calculate input', type='text', placeholder='Salary', id='salary', maxlength='10') }}
              </div>
            </div>
          </div>
          <div class='col'>
            <div class='row'>
              <div class='text-center display'>Savings Goal</div>
            </div>
            <div class='row'>
              <div class='input-group mb-3'>
                <div class='input-group-prepend'>
                  <span class='input-group-text'>$</span>
                </div>
                {{ savingsForm.savings_goal(class='form-control calculate input', type='text', placeholder='Savings Goal', id='savings_goal', maxlength='10') }}
              </div>
            </div>
          </div>
          <div class='col'>
            <div class='row'>
              <div class='text-center display'>Savings Goal Deadline</div>
            </div>
            <div class='row'>
              <div class='input-group mb-3'>
                {{ savingsForm.savings_date(class='form-control calculate', type='month', min=min, max=max, id='savings_date') }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class='col-md-auto'>
        <div class='input-group'>
          {{ savingsForm.savings_submit(class='h-200 btn btn-lg btn-primary') }}
        </div>
      </div>
    </div>
    <div class='row align-items-center justify-content-center'>
      <div class='col-xl-auto text-center display'>
        <div class='displaySavings'></div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
