{% extends 'base.html' %}

{% block head %}
<script type='text/javascript' src='{{ url_for('static', filename='js/home_page.js') }}'></script>
<title>Budget Keeper</title>
{% endblock %}

{% block default_content %}
<form class='form-group' method='POST'>
  {{ savingsForm.hidden_tag() }}
  <div class='row align-items-center justify-content-center'>
    <div class='col'>
      <div class='row'>
        <div class='col'>
          <div class='row'>
            <div class='text-center'>Annual Salary</div>
          </div>
          <div class='row'>
            <div class='input-group mb-3'>
              <div class='input-group-prepend'>
                <span class='input-group-text'>$</span>
              </div>
              {{ savingsForm.salary(class='form-control calculate', type='number', data=0, placeholder='Salary', id = 'salary') }}
            </div>
          </div>
        </div>
        <div class='col'>
          <div class='row'>
            <div class='text-center'>Savings Goal</div>
          </div>
          <div class='row'>
            <div class='input-group mb-3'>
              <div class='input-group-prepend'>
                <span class='input-group-text'>$</span>
              </div>
              {{ savingsForm.savings_goal(class='form-control calculate', type='number', data=0, placeholder='Savings Goal', id = 'savings_goal') }}
            </div>
          </div>
        </div>
        <div class='col'>
          <div class='row'>
            <div class='text-center'>Savings Goal Deadline</div>
          </div>
          <div class='row'>
            <div class='input-group mb-3'>
              {{ savingsForm.savings_date(class='form-control calculate', type='month', min='2023-01', max='2123-01', id = 'savings_date') }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-auto'>
      <div class='input-group'>
        {{ savingsForm.savings_submit(class='h-200 btn btn-lg btn-primary') }}
      </div>
    </div>
  </div>
  <div class='row align-items-center justify-content-center'>
    <div class='col-xl-auto'>
      <div class='displaySavings'>How much money do you want to save?</div>
    </div>
  </div>
</form>

{% endblock %}
