{% extends 'base.html' %}
{% block content %}
<form class='form-group' method='POST'>
  {{ savingsForm.hidden_tag() }}
  <div class='row align-items-center justify-content-center'>
    <div class='col'>
      <div class='row align-items-center justify-content-center'>
        <div class='col'>
          <div class='input-group mb-3'>
            <div class='input-group-prepend'>
              <span class='input-group-text'>$</span>
            </div>
            {{ savingsForm.salary(class='form-control', placeholder='Salary') }}
          </div>
        </div>
        <div class='col'>
          <div class='input-group mb-3'>
            <div class='input-group-prepend'>
              <span class='input-group-text'>$</span>
            </div>
            {{ savingsForm.savings_goal(class='form-control', placeholder='Savings Goal') }}
          </div>
      </div>
      <div class='col'>
        <div class='input-group mb-3'>
          {{ savingsForm.savings_date(class='form-control', type='month', value='2024-01') }}
        </div>
      </div>
      </div>
      <div class='row align-items-center justify-content-center'>
          <div class='col-md-auto'>
            <div> TEST TEST TEST </div>
          </div>
      </div>
    </div>
    <div class='col-md-auto' rowspawn= '2'>
      <div class='input-group mb-3'>
        <button class='h-200 btn btn-lg btn-primary' type='submit'>Save</button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
